<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blogs</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <!-- import navbar layout -->
   <%- include('../bt-layout') %>

   <section class="content">
      <h1>จัดการบทความ</h1>
      <div class="button-link">
         <a href="blogs/add" class="btn btn-success" id="btn-add">เพิ่มบทความ</a>
      </div>
   </section>
</body>
</html>