<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- import navbar layout -->
    <%- include('bt-layout') %>

    <section class="content">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <hr>
      <h1>บทความทั้งหมด</h1>
    </section>
  </body>
</html>
